<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>404</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">404 Error</h1>
      <p class="lead">Ресурс не найден</p>
      <hr class="my-4">
      <p>Извините по данному пути ничего нет :(</p>
    </div>
  </div>
</body>
</html>
